{% extends 'account/base.html' %} 
{% load static %} 
{% load i18n %} 
{% load account socialaccount %} 
{% load django_bootstrap5 %}

{% block head_title %}{% trans "Login" %}{% endblock%} 

{% block accounts_content %}

<div class="container">
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                    <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    {% trans "Login" as button_text %}
                    {% bootstrap_button button_text button_type="submit" extra_classes="secondaryAction w-100" %}
                    <a class="button secondaryAction small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock accounts_content %}
